body {
    margin: 0;
}

#home {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #282828;
    color: #FFFFFF;
    color: #E6E6E6;
    color: #62C5F5;
    color: #E3AF48;
    color: #BB2B3B;
    color: black;
}

h1 {
    text-transform: uppercase;
    color: #282828;
    height: 1.2em;
    margin: auto;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.25em;
    font-size: 300%;
}

.topInfo {
    display: flex;
}

.parts {
    flex: 50%;
    height: 25em;
}

#today {
    background-color: #282828;
    color: #E6E6E6;
    padding: 0.5em 2em 1em 2em;
}

#todayInfo {
    border-left: 3px solid #BB2B3B;
    border-top: 3px solid #BB2B3B;
    font-size: 120%;
    padding: 5%;
    padding-top: 2%;
    margin-left: 2%;
}

#todays {
    font-size: 115%;
}

#total {
    background-color: #E6E6E6;
    padding: 0.5em 5% 1em 5%;
}

#ordersInjections {
    padding-top: 1.5em;
    padding-bottom: 1em;
    border-bottom: 3px solid #BB2B3B;
}

#injections {
    padding-top: 1em;
}

#producers {
    height: 25em;
    background-color: #E6E6E690;
}

#producers h3 {
    text-align: center;
    padding-top: 0.5em;
    font-weight: lighter;
    font-size: 175%;
    background-color: #28282870;
    color: #FFFFFF;
    margin-top: 1px;
    padding-bottom: 0.3em;
}

#producers table {
    text-align: center;
    margin: auto;
    margin-top: 3.5em;
    font-size: 110%;
    padding: 0.2em;
}

#producers table th {
    text-transform: uppercase;
    font-weight: lighter;
    padding: 0.5em 1em;
    background-color: #E3AF48;
    color: #FFFFFF;
    font-size: 102%;
}

#producers table tr:nth-child(odd) {
    background-color: #E3AF4880;
}

#producers table tr:nth-child(even) {
    background-color: #E3AF4820;
}

#producersName {
    text-align: left;
    text-transform: uppercase;
}

#producers table td {
    padding: 0.5em 1em;
}

#districts {
    background-color: #282828;
    color: #E6E6E6;
    height: 28em;
    text-align: center;
    padding-top: 0.15em;
    background-color: #BB2B3B80;
}

#districts h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 175%;
    background-color: #282828;
    color: #FFFFFF;
    border: 3px solid #FFFFFF;
    width: 10em;
    padding: 0.5em 1em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

#districts table {
    margin: auto;
    color: #282828;
}

#districts table th {
    text-transform: uppercase;
    padding: 0.5em;
    font-weight: lighter;
    background-color: #282828;
    color: #FFFFFF;
    font-size: 105%;
}

#districts table td {
    padding: 0.5em 1.5em;
}

#districts table tr:nth-child(even) {
    background-color: #E6E6E6;
}

#districts table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

#hName {
    text-align: left;
}

footer {
    height: 2em;
    text-align: center;
    margin-top: 0.5em;
}